td{
    width: 50px;
    height: 50px;
}
#gameGrid{
    background-image: url("grass.png");
}

.hidden{
    display: none;
}

body{
    font-family: Courier,monospace;
}


/*https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center*/
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}